<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统</title>
    <th:block th:replace="common/link"/>
</head>
<body class="layui-layout-body">

    <th:block th:replace="common/head"/>

    <th:block th:replace="common/left"/>

<!--    <div class="layui-body">-->
<!--        &lt;!&ndash; 内容主体区域 &ndash;&gt;-->
<!--        <div style="padding: 20px; margin-top: 45px">-->

<!--            <table id="demo" lay-filter="test"></table>-->

<!--        </div>-->
<!--    </div>-->

    <th:block th:replace="school"/>
    <th:block th:replace="common/foot"/>

</body>
</html>
