<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>视频播放</title>
    <script type="text/javascript" src="ckplayer/ckplayer.js" charset="utf-8"/>
    <th:block th:replace="common/link"/>
</head>
<body>
    <th:block th:replace="common/head"/>

    <th:block th:replace="common/left"/>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px; margin-top: 55px;" class="video">
<!--            <div class="video" style="width: 600px;height: 400px;">播放器容器</div>-->
        </div>
    </div>

    <th:block th:replace="common/foot"/>

</body>
</html>

<script src="../layui/layui.all.js"></script>

<script type="text/javascript">
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    //定义一个变量：videoObject，用来做为视频初始化配置
    var videoObject = {
        container: '.video', //“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player', //播放函数名称，该属性必需设置，值等于下面的new ckplayer()的对象
        video: 'video/code.mp4'//视频地址
    };
    var player = new ckplayer(videoObject);//初始化播放器
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'post',
            url: '/getName',
            success: function (data) {
                $("#a").append(data);
            },
            error: function () {
                layer.alert("请求超时")
            }
        });
    })
</script>